doctype html
head
    title agregar productos 

body
    h3='agregue productos'
        form(action='/api/products', method='POST')
            p
            | titulo: 
            input(type='text', name='titulo', value='')
            |          precio: 
            input(type='number', name='precio', value='')
            |          imagen: 
            input(type='text', name='imagen', value='')
            button enviar
                
        a(href="http://localhost:8080/api/products")
            button.btn.btn-success.mt-3.mb-5 productos cargados 