<div class="container mt-5">
  <form>
    <div class="row g-2">
      <div class="col">
        <input type="text" placeholder="Title" id="title" />
      </div>
      <div class="col">
        <input type="number" placeholder="Price" id="price" />
      </div>
      <div class="col">
        <input type="thumbnail" placeholder="Image" id="thumbnail" />
      </div>
      <div class="col">
        <button type="button" class="btn btn-success" id="save">Save</button>
      </div>
    </div>
  </form>
</div>
